{% extends "basic_chart.html" %}

{% block bonus %}
        <table>
        {%- for year_row in rankings|sort|batch(3): %}
            <tr>
            {%- for year in year_row %}
                <td><div class="yearly">
                    <h3>{{year}}</h3>
                    <ol>
                {%- for country in rankings[year]: %}
                    <li>{{country}}
                {%- endfor %}
                    </ol>
                </div></td>
            {%- endfor %}
        {%- endfor %}
        </table>
{%- endblock %}
