{% extends "base.html" %}

{% block header %}
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
{%- endblock %}

{% block content %}
        <div id="chart_container">
            <div id="metric_chart" />
        </div>
        <script>
            zingchart.render({
                id: 'metric_chart',
                data: {{ chart|tojson(0) }}
            });
        </script>
        <div class="caption">{{ caption }}</div>
{%- block bonus %}{% endblock %}
{%- endblock %}
